streamlit
openai
langchain-core
langchain
langchain-openai
sentence-transformers
langchain-ollama
langchain-milvus
langchain-community
langgraph
langgraph-checkpoint-sqlite
langsmith
rank_bm25
nltk
langchain-text-splitters
transformers
protobuf==3.20.3
pymupdf4llm
streamlit-authenticator
pdfplumber