streamlit
openai
langchain-core
langchain
langchain-openai
langchain-astradb>=0.3.3
sentence-transformers
langchain-ollama
langchain-milvus
langgraph 
langgraph-checkpoint-sqlite
langsmith
rank_bm25
nltk
langchain-text-splitters
transformers
protobuf==3.20.3
pymupdf4llm
streamlit-authenticator
pdfplumber